<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
</head>
<body>
    <h1>Sistema Solar</h1>

<p>
    Un sistema solar puede referirse a nuestro sistema planetario <br>
    (donde el Sol y la gravedad mantienen a la Tierra y otros 7 planetas en órbita) <br>
    o a los sistemas fotovoltaicos que convierten la luz del sol en electricidad <br>
    para el hogar o la industria
</p>
</body>
</html>