<html>
<head>
<title>Planeta Júpiter</title>
</head>
<body>
    <h1>Planeta Júpiter</h1>
    <p>Este es el quinto planeta del sistema solar.</p>
    <p>Es el planeta más grande del sistema solar y el quinto en orden de lejanía al Sol.</p>
    <p>Es un gigante gaseoso que forma parte de los denominados planetas exteriores.</p>
    <p>Es uno de los objetos naturales más brillantes en un cielo nocturno despejado, superado solo por la Luna, Venus y algunas veces Marte.</p>
</body>
</html>