<header>
    <link rel="stylesheet" href="style.css">
    <nav>
        <ul>
            <li><a href="/Planetas">Inicio</a></li>
            <li><a href="/Planetas/Mercurio">Mercurio</a></li>
            <li><a href="/Planetas/Venus">Venus</a></li>
            <li><a href="/Planetas/Tierra">Tierra</a></li>
            <li><a href="/Planetas/Marte">Marte</a></li>
            <li><a href="/Planetas/Jupiter">Júpiter</a></li>
            <li><a href="/Planetas/Saturno">Saturno</a></li>
            <li><a href="/Planetas/Urano">Urano</a></li>
            <li><a href="/Planetas/Neptuno">Neptuno</a></li>
        </ul>
    </nav>
</header>