<html>
<head>
<title>Planeta Mercurio</title>
</head>
<body>
    <h1>Planeta Mercurio</h1>
    <p>Este es el primer planeta del sistema solar.</p>
    <p>Es el planeta del sistema solar más cercano al Sol y el más pequeño.</p>
    <p>Forma parte de los denominados planetas interiores y carece de satélites naturales al igual que Venus.</p>
</body>
</html>