<html>
<head>
<title>Planeta Neptuno</title>
</head>
<body>
    <h1>Planeta Neptuno</h1>
    <p>Este es el octavo planeta del sistema solar.</p>
    <p>Es el octavo planeta en distancia respecto al Sol y el más lejano del sistema solar.</p>
    <p>Forma parte de los denominados planetas exteriores, y dentro de estos, es uno de los gigantes helados y es el primero que fue descubierto gracias a predicciones matemáticas.</p>
    <p>Su masa es diecisiete veces la de la Tierra y ligeramente mayor que la de su planeta «gemelo» Urano, que tiene quince masas terrestres y no es tan denso.</p>
</body>
</html>