<html>
<head>
<title>Planeta Saturno</title>
</head>
<body>
    <h1>Planeta Saturno</h1>
    <p>Este es el sexto planeta del sistema solar.</p>
    <p>Es el sexto planeta del sistema solar contando desde el Sol, el segundo en tamaño y masa después de Júpiter y el único con un sistema de anillos visible desde la Tierra.</p>
    <p>Forma parte de los denominados planetas exteriores o gaseosos.</p>
    <p>El aspecto más característico de Saturno son sus brillantes y grandes anillos.</p>
    <p>Antes de la invención del telescopio, Saturno era el más lejano de los planetas conocidos y, a simple vista, no parecía luminoso ni interesante.</p>
</body>
</html>