<html>
<head>
<title>Planeta Tierra</title>
</head>
<body>
    <h1>Planeta Tierra</h1>
    <p>Este es el tercer planeta del sistema solar.</p>
    <p>Es el planeta del sistema solar donde vive la humanidad y que orbita alrededor de su estrella —el Sol— en la tercera órbita más interna.</p>
    <p>Es el más denso y el quinto mayor de los ocho planetas del sistema solar.</p>
    <p>También es el mayor de los cuatro planetas terrestres o rocosos (planetas interiores).</p>
</body>
</html>