<html>
<head>
<title>Planeta Venus</title>
</head>
<body>
    <h1>Planeta Venus</h1>
    <p>Este es el segundo planeta del sistema solar.</p>
    <p>es el segundo planeta del sistema solar en orden de proximidad al Sol y el tercero más pequeño después de Mercurio y Marte.</p>
    <p>Al igual que Mercurio, carece de satélites naturales.</p>
</body>
</html>